# Экзамен по курсу "Аналитика данных на Python"

Этот тест проверит Ваши навыки работы с таблицами данных с помощью библиотек pandas и numpy. Задания делятся на простые (⭐️), средние (⭐️⭐️) и сложные (⭐️⭐️⭐️). Решение простых заданий, как правило, требует одной-двух операций с таблицами, тогда как для более сложных может потребоваться несколько последовательных преобразований данных.

##  Предыстория

Сегодня Ваш первый день работы в крупном интернет-магазине, который продаёт товары с доставкой по всему миру. Ваша первая задача – проанализировать базу данных покупок, совершённых в магазине за последние несколько лет. База содержит информацию об отдельных транзакциях, про каждую из которых известны номер инвойса (InvoiceNo), дата инвойса(InvoiceDate), код товара (StockCode), описание товара(Description), количество товара в транзакции (Quantity), стоимость единицы товара (UnitPrice), код покупателя (CustomerID), страна покупателя (Country).

База выгружена для Вас в формате CSV: файл [```online-retail.csv```](https://drive.google.com/file/d/1O1oJtpEu-u6s6xTu7seQfnNcQjYCt0GF/view?usp=sharing)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## ⭐️ Вопрос 1

Загрузите данные из файла online-retail.csv в переменную типа pandas DataFrame

Подсказка: Используйте функцию из библиотеки pandas

Какой символ-разделитель используется в этом файле?

* Запятая ","
* Двоеточие ":"
* Точка с запятой ";"
* Символ табуляции "tab"

#### Решение

In [2]:
df = pd.read_csv('C://Users/Tem/Downloads/online-retail.csv', sep=";")

In [3]:
[str(len(x)) + " " + x for x in df.columns.to_list()]

['9 InvoiceNo',
 '9 StockCode',
 '11 Description',
 '8 Quantity',
 '11 InvoiceDate',
 '9 UnitPrice',
 '10 CustomerID',
 '7 Country']

## ⭐️ Вопрос 2

Сколько строк в полученной таблице (не считая заголовков столбцов)?

#### Решение

In [4]:
df.shape

(541911, 8)

## ⭐️ Вопрос 3

Сколько столбцов в полученной таблице (не считая индекса)?

#### Решение

In [5]:
df.shape

(541911, 8)

## ⭐️ Вопрос 4

Как называется столбец с самым коротким названием?

#### Решение

In [6]:
[str(len(x)) + " " + x for x in df.columns.to_list()]

['9 InvoiceNo',
 '9 StockCode',
 '11 Description',
 '8 Quantity',
 '11 InvoiceDate',
 '9 UnitPrice',
 '10 CustomerID',
 '7 Country']

## ⭐️ Вопрос 5

В скольких столбцах встречаются пропущенные значения? (ответ - целое число)

#### Решение

In [7]:
df.isna().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

## ⭐️ Вопрос 6

Сколько пропущенных значений в столбце CustomerID? (ответ - целое число)

#### Решение

In [8]:
df[df['CustomerID'].isnull()].shape

(135080, 8)

## ⭐️⭐️ Вопрос 7

Посмотрим, данные за какой исторический период у нас есть. 

Данные за какой самый ранний и за какой самый поздний годы содержатся в датасете? В ответе укажите два целых числа через запятую.

#### Решение

In [9]:
df.InvoiceDate.min()

'2010-12-01 08:26:00'

In [10]:
df.InvoiceDate.max()

'2011-12-09 12:52:00'

## ⭐️ Вопрос 8

Каковы минимальная и максимальная цена товаров (UnitPrice)? Перечислите через запятую. Цена в этом задании может принимать отрицательные значения.

#### Решение

In [11]:
df.UnitPrice.min()

-11062.06

In [12]:
df.UnitPrice.max()

38970.0

## ⭐️ Вопрос 9

В таблице оказались товары с отрицательными ценами! Это явно какая-то ошибка. Какое описание (Description) у таких транзакций? Перечислите все варианты через запятую, отсортировав строки по алфавиту.

#### Решение

In [13]:
sorted(df[df.UnitPrice < 0].Description.to_list())

['Adjust bad debt', 'Adjust bad debt']

## ⭐️ Вопрос 10

Поищем ещё возможные проблемы с данными. Как насчёт товаров с нулевыми ценами? 

Сколько в таблице транзакций с нулевой ценой? А с пропусками на месте цены? 

Перечислите два целых числа через запятую.

#### Решение

In [14]:
df[df.UnitPrice.isnull()].shape

(0, 8)

## ⭐️⭐️ Вопрос 11

Для дальнейшего анализа поведения покупателей нам понадобится набор данных, в которых у каждой транзакции корректно указана цена, количество единиц товара (Quantity) и id покупателя (CustomerID). Удалите из таблицы все строки, в которых цена не превосходит 0 или пропущена, или количество единиц товара не превосходит 0 или пропущено, или в которых пропущен id покупателя. 

Сколько строк осталось?

#### Решение

In [15]:
df = df[(df.UnitPrice > 0)  & (df.Quantity > 0) & (df.CustomerID.notna())]
df.shape

(397886, 8)

## Внимание! 

### Везде далее мы работаем с очищенной таблицей, полученной в Вопросе 11.

## ⭐️⭐️ Вопрос 12

В таблице для каждой транзакции указаны цена за единицу товара (UnitPrice) и количество единиц товара (Quantity). Вычислите для каждой транзакции её **полную стоимость** и сохраните в новом столбце Price, который добавьте в таблицу. 

Каковы минимальная и максимальная полная стоимость транзакций? Перечислите через запятую, округлив до целых чисел.

#### Решение

In [16]:
df['Price'] = df.UnitPrice * df.Quantity
df.Price.min()

0.001

In [17]:
df.Price.max()

168469.6

## ⭐️⭐️ Вопрос 13

В нашей базе данных каждая покупка представлена одной или несколькими транзакциями. Покупка однозначно определяется своим номером инвойса (InvoiceNo). Транзакции, относящиеся к одной покупке, имеют один и тот же InvoiceNo. 

Стоимость всей покупки равна сумме полных стоимостей транзакций, входящих в неё. Найдите стоимости трёх самых дорогих покупок. Перечислите через запятую в порядке убывания, округлив до целых чисел.

#### Решение

In [18]:
df.groupby('InvoiceNo').Price.sum().sort_values(ascending=False).head(3)

InvoiceNo
581483    168469.6
541431     77183.6
556444     38970.0
Name: Price, dtype: float64

## ⭐️⭐️ Вопрос 14

Какой товар составил наибольшую выручку? В ответе укажите описание товара (дословно строку из соответствующего поля в столбце Description).

#### Решение

In [19]:
df.sort_values('Price', ascending=False).head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Price
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.6

## ⭐️⭐️ Вопрос 15

Создайте новую таблицу purchases, в которой каждая строка будет соответствовать отдельной покупке, со столбцами 
InvoiceNo, InvoiceDate, Price, CustomerID, Country.

Поскольку дата InvoiceDate может быть отличаться для разных транзакций внутри одной покупки, при группировке возьмите самую раннюю из дат. Также отсортируйте её по датам по возрастанию.

Сколько получилось строк?

#### Решение

In [20]:
purchases = pd.DataFrame(columns=['InvoiceNo', 'InvoiceDate', 'Price', 'CustomerID', 'Country'])
group = df.groupby('InvoiceNo')
purchases.InvoiceNo = group.groups.keys()
purchases.Price = group.Price.sum().to_list()
purchases.InvoiceDate = group.InvoiceDate.min().to_list()
purchases.CustomerID = group.CustomerID.first().to_list()
purchases.Country = group.Country.first().to_list()
purchases.shape

(18533, 5)

## ⭐️⭐️ Вопрос 16

Исследуем, растут или убывают покупки наших клиентов после их первой покупки на сайте.
Найдите среднюю цену первых покупок клиентов: для каждого клиента возьмите его первую покупку и усредните эти значения. Найдите среднюю цену покупок в целом. Округлите эти числа до целых и перечислите в этом порядке через запятую.

#### Решение

In [21]:
p_copy = purchases.copy()
p_copy.InvoiceDate = pd.to_datetime(p_copy.InvoiceDate)
p_copy = p_copy.loc[p_copy.groupby('CustomerID').InvoiceDate.idxmin()]
p_copy.Price.mean()

425.6565244352229

In [27]:
purchases.Price.mean()

480.8420495332635

## ⭐️⭐️⭐️ Вопрос 17

В какой день недели было наибольшее число покупок? В ответе укажите русское название дня недели, начинающееся с заглавной буквы.


Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите день недели, в который она была совершена. Сохраните в новый столбец.
* Сгруппируйте таблицу по дням недели.

#### Решение

In [23]:
p_copy = purchases.copy()
p_copy.InvoiceDate = pd.to_datetime(p_copy.InvoiceDate)
p_copy.InvoiceDate = [x.weekday() for x in p_copy.InvoiceDate]
p_copy.groupby('InvoiceDate').count()

             InvoiceNo  Price  CustomerID  Country
InvoiceDate
0                 2863   2863        2863     2863
1                 3184   3184        3184     3184
2                 3455   3455        3455     3455
3                 4032   4032        4032     4032
4                 2830   2830        2830     2830
6                 2169   2169        2169     2169

## ⭐️⭐️⭐️ Вопрос 18

В какой год и месяц выручка была максимальной?

Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите год и месяц, в которые она была совершена. Сохраните в новые столбцы.
* Сгруппируйте таблицу по новым столбцам

В ответе укажите два целых числа через запятую: год, месяц

#### Решение

In [24]:
p_copy = purchases.copy()
p_copy.InvoiceDate = pd.to_datetime(p_copy.InvoiceDate)
p_copy.InvoiceDate = [x.year for x in p_copy.InvoiceDate]
p_copy.groupby('InvoiceDate').Price.sum()

InvoiceDate
2010     572713.890
2011    8338731.814
Name: Price, dtype: float64

In [25]:
p_copy = purchases.copy()
p_copy.InvoiceDate = pd.to_datetime(p_copy.InvoiceDate)
p_copy.InvoiceDate = [x.month for x in p_copy.InvoiceDate]
p_copy.groupby('InvoiceDate').Price.sum()

InvoiceDate
1      569445.040
2      447137.350
3      595500.760
4      469200.361
5      678594.560
6      661213.690
7      600091.011
8      645343.900
9      952838.382
10    1039318.790
11    1161817.380
12    1090944.480
Name: Price, dtype: float64

## ⭐️⭐️⭐️ Вопрос 19

Магазин продаёт товары покупателям из разных стран (Country). В какой стране был наибольший процентный рост месячных продаж, если сравнить март 2011 и сентябрь 2011? Сколько процентов составил этот рост? В расчёт брать только страны, в которых были ненулевые продажи в обоих этих месяцах. В ответе укажите через запятую название страны и целое число (процентный рост, округлённый до целого числа).

#### Решение

In [28]:
p_copy = purchases.copy()
p_copy.InvoiceDate = pd.to_datetime(p_copy.InvoiceDate)
p_copy['InvoiceDateYear'] = [x.year for x in p_copy.InvoiceDate]
p_copy['InvoiceDateMonth'] = [x.month for x in p_copy.InvoiceDate]
p_copy = p_copy[p_copy.InvoiceDateYear == 2011]
p_copy[p_copy.InvoiceDateMonth == 3].groupby('Country').Price.sum() / p_copy[p_copy.InvoiceDateMonth == 9].groupby('Country').Price.sum()

Country
Australia               3.372802
Austria                      NaN
Belgium                 0.796569
Canada                       NaN
Channel Islands         2.651052
Cyprus                  4.779170
Denmark                 0.870646
EIRE                    0.528701
Finland                 5.370501
France                  0.622739
Germany                 0.795562
Greece                       NaN
Italy                   6.457505
Japan                   0.436296
Netherlands             0.832174
Norway                  0.145791
Poland                  0.600435
Portugal                1.856554
Spain                   1.033514
Sweden                  1.031773
Switzerland             0.225741
United Arab Emirates         NaN
United Kingdom          0.586358
Name: Price, dtype: float64

## ⭐️⭐️⭐️ Вопрос 20

Большинство клиентов все свои покупки делают из одной и той же страны. Выясним, однако, насколько велика доля путешественников среди клиентов. 
Сколько клиентов сделали покупки по крайней мере из двух разных стран? (ответ - целое число)

#### Решение

In [37]:
purchases.groupby('CustomerID').filter(lambda x: x.Country.nunique() > 1).CustomerID.nunique()

8

## ⭐️⭐️⭐️ Вопрос 21

Мы запускаем в Италии рекомендательную систему "С этим товаром часто покупают...", и для этого хотим узнать, какие различные товары чаще всего встречаются в одной покупке из этой страны. Определите, какая пара различных товаров чаще всего встречается в различных покупках с ```Country=='Italy'```, и в скольких покупках это происходит. Одинаковые товары или нет, проверяйте по равенству поля Description. 

(ответ: название (Description) первого товара, название (Description) второго товара, целое число)

#### Решение

In [38]:
pair_of_desc = dict()

df[df.Country == 'Italy'].groupby('InvoiceNo').Description.nunique()

InvoiceNo
537022    24
539752    16
541115    70
541703    12
542238    26
544399    13
545664    18
546875    51
547914    13
547931     1
549233    14
550606     8
555107    23
555843     9
556119     1
561259     6
562424     1
562528    54
562922    22
564476    18
567478    15
570919    14
571670    65
572457    24
572695    24
572934     1
573365    12
573508    19
573768     1
574022     1
576907     9
577178    11
577316    44
577609    73
577809    13
578078    11
578108    13
580746     8
581588     2
Name: Description, dtype: int64