# Skillbox — Мастер-класс: Разведочный анализ данных + Подготовка отчётов — Kiva.org
***

# Новый раздел

# 4. Домашнее задание
***

https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding/download

In [1]:
import numpy as np
import pandas as pd
import math
#import missingno as msno
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df_kiva_loans = pd.read_csv("kiva_loans.csv")
df_mpi_reg_loc = pd.read_csv("kiva_mpi_region_locations.csv")
df_loan_theme_ids = pd.read_csv("loan_theme_ids.csv")
df_loan_themes_by_reg = pd.read_csv("loan_themes_by_region.csv")

In [26]:
print('Страны, в которых преобладают группы людей: ')

group_country = df_kiva_loans[df_kiva_loans.borrower_genders.notna()]\
    .groupby('country')\
    .agg(is_group_more = ('borrower_genders',\
        lambda x: sum([-1 if i == 'male' or i == 'female' else 1 for i in list(x.values)]) > 0))
group_country[group_country.is_group_more].drop(columns=['is_group_more'])

Страны, в которых преобладают группы людей:

Empty DataFrame
Columns: []
Index: [Benin, Brazil, Burkina Faso, Burundi, Cambodia, Chile, Congo, Dominican Republic, Ghana, Guatemala, Lao People's Democratic Republic, Lesotho, Malawi, Mali, Myanmar (Burma), Paraguay, Senegal, Tanzania, The Democratic Republic of the Congo, Vanuatu]

## 4.1. Самостоятельная работа
***

- А в каких странах преобладают мужчины? Группа людей? (п. 2.2.2.)
- Изучите несколько займов с очень большими суммами. Что можно сказать о назначении этих заявок? В каких странах они оформлены? Каков гендерный состав заявителей? (п. 2.4.2.)
- Попробуйте найти связь между странами (регионами), полом заёмщика и суммой заявки. Какие выводы можно сделать из этих данных? (п. 2.4.3.)

- А в каких странах преобладают мужчины? Группа людей? (п. 2.2.2.)

In [3]:
print('Страны, в которых преобладают мужчины: ')

group_country = df_kiva_loans[df_kiva_loans.borrower_genders.notna()]\
    .groupby('country')\
    .agg(is_male_more = ('borrower_genders',\
        lambda x: sum([i.count('male') - 2 * i.count('female') for i in list(x.values)]) > 0))
group_country[group_country.is_male_more].drop(columns=['is_male_more'])

Страны, в которых преобладают мужчины:

Empty DataFrame
Columns: []
Index: [Azerbaijan, Belize, China, Egypt, Kosovo, Lao People's Democratic Republic, Mauritania, Mongolia, Nigeria, Palestine, Suriname, Uganda, Vanuatu, Zambia]

In [4]:
print('Страны, в которых преобладают группы людей: ')

group_country = df_kiva_loans[df_kiva_loans.borrower_genders.notna()]\
    .groupby('country')\
    .agg(is_group_more = ('borrower_genders',\
        lambda x: sum([-1 if i == 'male' or i == 'female' else 1 for i in list(x.values)]) > 0))
group_country[group_country.is_group_more].drop(columns=['is_group_more'])

Страны, в которых преобладают группы людей:

Empty DataFrame
Columns: []
Index: [Benin, Brazil, Burkina Faso, Burundi, Cambodia, Chile, Congo, Dominican Republic, Ghana, Guatemala, Lao People's Democratic Republic, Lesotho, Malawi, Mali, Myanmar (Burma), Paraguay, Senegal, Tanzania, The Democratic Republic of the Congo, Vanuatu]

#  
- Изучите несколько займов с очень большими суммами. Что можно сказать о назначении этих заявок? В каких странах они оформлены? Каков гендерный состав заявителей? (п. 2.4.2.)

In [10]:
df_kiva_loans.sort_values('funded_amount', ascending = False).head(20)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
70499,722883,100000.0,100000.0,Agriculture,Agriculture,create more than 300 jobs for women and farmer...,HT,Haiti,Les Cayes,USD,315.0,2014-06-10 19:25:02+00:00,2014-09-08 07:00:00+00:00,2014-06-19 20:21:04+00:00,75.0,2986,"user_favorite, user_favorite, user_favorite, u...",female,irregular,2014-06-10
492809,1152957,50000.0,50000.0,Agriculture,Agriculture,"to expand weather, farming information and fin...",GH,Ghana,Accra,USD,490.0,2016-09-19 13:08:02+00:00,2016-11-30 08:00:00+00:00,2016-10-17 18:36:56+00:00,14.0,1481,"#Technology, #Technology, #Sustainable Ag, use...",male,irregular,2016-09-19
604502,1266423,50000.0,50000.0,Agriculture,Agriculture,to add value and jobs to the local economy by ...,BJ,Benin,Parakou,USD,478.0,2017-03-24 21:53:03+00:00,2017-02-22 08:00:00+00:00,2017-04-18 06:42:43+00:00,12.0,1519,"user_favorite, user_favorite, user_favorite, u...",male,irregular,2017-03-24
490191,1150277,50000.0,50000.0,Health,Health,To purchase raw materials in order to produce ...,GH,Ghana,Accra,USD,489.0,2016-09-14 13:03:24+00:00,2016-11-30 08:00:00+00:00,2016-09-19 20:06:54+00:00,14.0,1569,"#Health and Sanitation, #Biz Durable Asset, #E...",male,irregular,2016-09-14
126839,777718,50000.0,50000.0,Agriculture,Agriculture,to buy and plant resin producing pine trees. T...,MX,Mexico,Cherán,USD,376.0,2014-10-01 20:46:15+00:00,2014-08-31 07:00:00+00:00,2014-12-07 17:02:10+00:00,144.0,586,"user_favorite, user_favorite, #Biz Durable Ass...","male, male, male, male, male, male, male, female",irregular,2014-10-01
538248,1198658,50000.0,50000.0,Agriculture,Agriculture,"to enable 5,000 additional small-holder farmer...",KE,Kenya,Nanyuki,USD,505.0,2016-12-05 15:00:24+00:00,2017-01-31 08:00:00+00:00,2016-12-19 23:47:20+00:00,14.0,1589,"user_favorite, user_favorite, #Eco-friendly, #...",male,monthly,2016-12-05
408295,1055043,50000.0,50000.0,Clothing,Clothing,to set up a garment social business that will ...,AL,Albania,Cerrik,USD,315.0,2016-04-15 16:09:28+00:00,2016-05-16 07:00:00+00:00,2016-04-21 17:25:45+00:00,97.0,1626,"user_favorite, user_favorite, user_favorite, u...",male,monthly,2016-04-15
523659,1183916,50000.0,50000.0,Electronics Sales,Retail,to train & equip 200 rural merchants in Mozamb...,MZ,Mozambique,Maputo,USD,492.0,2016-11-12 02:45:29+00:00,2016-12-31 08:00:00+00:00,2016-12-18 14:10:28+00:00,14.0,1410,"#Biz Durable Asset, #Technology, #Job Creator,...",female,irregular,2016-11-12
565733,1226382,50000.0,50000.0,Agriculture,Agriculture,to pay 600 farming families 100% above market ...,EC,Ecuador,Quito,USD,514.0,2017-01-25 00:25:00+00:00,2017-03-31 07:00:00+00:00,2017-02-21 10:49:58+00:00,14.0,1689,"user_favorite, user_favorite, user_favorite, u...",female,irregular,2017-01-25
621860,1283951,50000.0,50000.0,Renewable Energy Products,Retail,to distribute 400 pay-as-you-go solar home sys...,KE,Kenya,Nairobi,USD,526.0,2017-04-21 22:46:44+00:00,2017-05-31 07:00:00+00:00,2017-05-01 15:26:03+00:00,14.0,1170,"#Eco-friendly, #Technology, user_favorite, use...",male,irregular,2017-04-21
496715,1156972,50000.0,50000.0,Agriculture,Agriculture,"to fund the harvest of seeds of 6,000 smallhol...",MG,Madagascar,Tsihombe,USD,313.0,2016-09-24 09:08:14+00:00,2016-10-28 07:00:00+00:00,2016-11-10 09:34:50+00:00,22.0,1606,"user_favorite, user_favorite, user_favorite, u...",male,irregular,2016-09-24
548513,1209262,50000.0,50000.0,Renewable Energy Products,Retail,to distribute solar home systems throughout ru...,ZW,Zimbabwe,Harare,USD,510.0,2016-12-22 16:45:53+00:00,2017-02-28 08:00:00+00:00,2016-12-25 06:55:37+00:00,13.0,720,"#Biz Durable Asset, #Eco-friendly, #Technology...",male,monthly,2016-12-22
523634,1183609,50000.0,50000.0,Health,Health,"to mitigate CO2 & household air pollution, whi...",MW,Malawi,NaN,USD,431.0,2016-11-11 11:12:32+00:00,2017-02-03 08:00:00+00:00,2016-11-21 19:33:23+00:00,24.0,1465,"#Health and Sanitation, user_favorite, #Eco-fr...",male,irregular,2016-11-11
494470,1154951,50000.0,50000.0,Agriculture,Agriculture,To pay smallholder coffee farmers in rural Ken...,KE,Kenya,Nairobi,USD,491.0,2016-09-21 19:31:42+00:00,2016-11-30 08:00:00+00:00,2016-10-17 22:37:04+00:00,15.0,1441,"#Woman Owned Biz, #Sustainable Ag, #Woman Owne...",female,irregular,2016-09-21
447374,1107992,50000.0,50000.0,Agriculture,Agriculture,to increase smallholder farmers’ incomes by bu...,UG,Uganda,Kampala,USD,482.0,2016-06-28 13:33:27+00:00,2016-08-31 07:00:00+00:00,2016-07-18 01:15:54+00:00,13.0,1555,"user_favorite, #Eco-friendly, #Sustainable Ag,...",male,monthly,2016-06-28
544548,1205071,50000.0,50000.0,Health,Health,to provide community trauma services in South ...,SS,South Sudan,Juba,USD,509.0,2016-12-16 17:07:25+00:00,2017-01-31 08:00:00+00:00,2016-12-18 07:04:32+00:00,8.0,1609,"#Female Education, #Health and Sanitation, #Un...",female,bullet,2016-12-16
614922,1277084,50000.0,50000.0,Water Distribution,Services,to set up 13 new clean water businesses in nor...,GH,Ghana,Tamale,USD,523.0,2017-04-10 20:36:23+00:00,2017-05-31 07:00:00+00:00,2017-04-21 17:01:16+00:00,14.0,1688,"user_favorite, user_favorite, #Job Creator, #E...",female,irregular,2017-04-10
53634,706146,50000.0,50000.0,Renewable Energy Products,Retail,To buy and sell Barefoot Power solar lighting.,UG,Uganda,Kampala,USD,212.0,2014-05-06 09:25:03+00:00,2014-07-06 07:00:00+00:00,2014-05-18 15:31:08+00:00,14.0,1581,"#Eco-friendly, #Biz Durable Asset, #Post-disbu...",female,bullet,2014-05-06
618264,1280213,50000.0,50000.0,Farming,Agriculture,to provide income opportunities in remote Indo...,ID,Indonesia,Simeulue,USD,524.0,2017-04-17 13:23:04+00:00,2017-05-31 07:00:00+00:00,2017-05-18 16:10:02+00:00,14.0,1564,"user_favorite, #Job Creator, #Sustainable Ag, ...",male,irregular,2017-04-17
34196,687045,50000.0,50000.0,Renewable Energy Products,Retail,to buy and sell Barefoot Power's Solar Lightin...,PE,Peru,Arequipa,USD,212.0,2014-03-21 05:25:02+00:00,2014-05-21 07:00:00+00:00,2014-04-18 06:32:55+00:00,14.0,1446,"user_favorite, user_favorite, #Eco-friendly, #...",male,irregular,2014-03-21

df_kiva_loans

## 4.2. Домашняя работа
***

Расширьте наш отчёт исследованием следующих вопросов:

- Зависимость пола заёмщика от региона планеты, сектора экономики.
- Влияние такого атрибута займа, как **Количество кредиторов** (lender_count), на суммы и сроки займов.
- Влияние показателя **MPI** (многомерный индекс бедности) в разных странах на суммы займов и сроки погашения.
- Зависимости таких метрик, как «Сумма займа», «Срок займа», «Время финансирования заявки», «Ежемесячный платёж», в разрезе **макрорегионов**.